<!DOCTYPE html>
<html lang="en-US">
	<head>
	    {% load staticfiles %} 
		<title></title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel='stylesheet' type='text/css'>
        <style>
            body
            {
                font-family: "Permanent Marker";
                background-color: black;
                font-size: 30;
            }
            .cont
            {
                background-color: black;
            }
        </style>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="container text-primary">
			<h1 align="center"> SUMMARY </h1>
			<div class="container summaryfirst panel panel-primary cont">
			  {% for p in final_li %}
			    <div class="forfirstoccurrence"> 
			  	
			   
			    <p> {{ p.1 }} </p>
			   			    
			   	</div> 
			  {% endfor %}
			  </div>
		</div>
	</body>
</html>
